<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      FCOM
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">FCOM</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <br><br><br>
    <p class="ion-text-center">
      <img src="assets/fcom.png" width="150px" alt="">
    </p>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button [routerLink]="['/programme']" expand="full" fill="outline">
            <ion-icon slot="end" name="school-outline"></ion-icon>
            Programme
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button [routerLink]="['/contactus']" expand="full" fill="outline">
            <ion-icon slot="end" name="call-outline"></ion-icon>
            Contact Us
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>